.well-known/
phpMyAdmin/
.history/*

# Codekit
config.codekit
config.codekit3

# SASS
*.sass-cache*

# OSX Stuff
.DS_Store
.AppleDouble
.LSOverride

# WordPress Install
.htaccess
.user.ini
php.ini
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/db.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/wp-total-cache-config.php
wp-content/w3-total-cache-config.php
wp-content/plugins/wordfence/tmp/configCache.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-content/wfcache/*
wp-content/wflogs/*
wp-content/updraft
wp-content/languages
error_log
wp-content/.DS_Store
wp-content/themes/.DS_Store

wp-content/uploads/*
wp-content/w3tc-config/*
wp-content/wpo-cache/*