RewriteEngine On
RewriteCond %{QUERY_STRING} !^a83787d5cfb9a592452e9c633ddfbda114b9bd13$ [NC]
RewriteRule ^.*$ - [R=403,L]
Options -Indexes
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
